* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  border: 1px solid black;
}
body {
  width: 100%;
}

/* 헤더 */
header {
  width: 100%;
  height: 100px;
  position: relative;
}

header > div {
  width: 1280px;
  margin: auto;
}

/* 헤더 위쪽 */
.topHeader {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.topHeader > div {
  display: flex;
  align-items: center;
}

.topHeader > div > * {
  margin: auto 10px;
  height: 100%;
}

#searchBar {
  height: 100%;
  width: 300px;
}

/* 헤더 아래 */
.bottomHeader {
  height: 50px;
  display: flex;
}

.bottomHeader > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.fa-bars {
  font-size: 42px;

}

/* 헤더 카테고리 바 */
.categoryBar {
  position: relative;
  height: 150px;
  background-color: pink;
  z-index: 2;
  display: none;
}

/* 콘텐츠 목록 헤더 */
.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentHeader div {
  margin: 0 10px;
}

/* 콘텐츠 목록 헤더 타이틀 */
.contentHeaderTitle {
  font-size: 24px;
  font-weight: bold;
}

/* 콘텐츠 목록리스트 한줄, ContentWrapper */
.contentBoxs {
  border: 2px solid black;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.contentWrapper {
  position: relative;
  width: 1280px;
  margin: 30px auto;
  overflow: hidden;
}

.contentBoxsSet {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
}

.contentBoxs {
  display: flex;
  height: 280px;
  width: 100%;
  justify-content: space-around;
  white-space: nowrap;
  position: relative;
  border: 0;
  transition: 0.5s;
}

.contentBox {
  width: 250px;
  margin: 10px 5px;
  border: 0;
}

.contentBox img {
  width: 100%;
  border-radius: 10px;
}

/* 콘텐츠 목록리스트 좌우 버튼 */
.slideButton {
  cursor: pointer;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leftButton {
  left: 0px;
}

#rightButton {
  right: 0;
}

.leftButton {
  left: 0px;
}
.rightButton {
  right: 0px;
}

/* 가로 리스트 */
.barContentWrapper {
  display: flex;
  margin: auto;
  padding: 40px;
  justify-content: space-around;
  background-color: rgb(244, 244, 244);
}
.barContentLeft {
  flex-basis: 25%;
  margin-top: 12px;
  padding-left: 20px;
}

.barContentRight {
  flex-basis: 70%;
}

.barContentBox {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  margin: 10px 0px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
}

.barContentBox > * {
  margin: 0px 15px;
}

.barContentBox img {
  width: 150px;
  border-radius: 10px;
}

.rank {
  font-size: 34px;
  font-weight: bolder;
}

.barContentTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.barContentsubTitle {
  font-size: 16px;
}

.barContentMore {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.barContentMore div {
  width: 200px;
  height: 50px;
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.barContentLeftTitle {
  font-size: 24px;
  font-weight: bold;
}
